.result-container {
  display: flex;

  justify-content: space-between;
  background-color: #ffffff33;
  width: 75%;
  border: 3px solid #ffffff30;
  border-radius: 24px;
  margin: auto;
  padding: 16px;
}
.win-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 1;
}
@media screen and (min-width: 992px) {
  .win-status {
    order: 0;
  }
}
.heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 64px;
  }
}
.best-score {
  text-align: center;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
}

@media screen and (min-width: 992px) {
  .best-score {
    font-size: 36px;
  }
}

.score {
  text-align: center;
  color: #6a59ff;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: bold;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .score {
    font-size: 48px;
  }
}

.button {
  color: #3d3d3d;
  background-color: #ffce27;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  margin: 16px;
  padding: 16px;
  padding-right: 24px;
  padding-left: 24px;
  cursor: pointer;
  outline: none;
}

.img-container {
  display: flex;
  justify-content: center;
  order: 0;
}

@media screen and (min-width: 992px) {
  .img-container {
    order: 1;
  }
}

.image {
  width: 150px;
  height: 200px;
}

@media screen and (min-width: 992px) {
  .image {
    width: 350px;
    height: 450px;
  }
}
